// Custom.scss

// Your variable overrides
$body-bg: lightblue;
$body-color: black;

$primary: #67c16e;
$secondary: rgba(0,176,200,.8);
$basic: rgb(0, 0, 0,);
$explain: rgb(255, 255, 255);

@import "node_modules/bootstrap/scss/bootstrap";