
// https://www.htmlcsscolor.com/
// $white: #ffffff;

$font-stack: 'Mochiy Pop One', sans-serif;
$font-small: 0.7em;
$font-normal: 1em;
$font-big:1.5em;

.font-global{
    
    font-family: $font-stack;

    &__normal{
        font-size: $font-normal;
        color:$primary;
    }
    &__small{
        font-size: $font-small;
        color:$primary;
    }
    &__big{
        font-size: $font-big;
        color:$primary;
    }
    
    
}