@import "./custom";
@import "./variables";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-image: url(../assets/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  margin: 0px;
  // flex: 1 0 auto;
}

.header {
  height: 20vh;
}

// .main {
//   flex: 1 0 auto;
// }

.logo {
  margin: 1%;
}

.img_responsive {
  max-width: 90%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.explain {
  width: 80%;
  text-align: center;
  margin: 40px auto 0px auto;

  padding: 5px;
  color: $basic;
  font-size: $font-normal;
  background-color: #67c16f85;
}
.nav-rickmorty {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 20px;
  margin: 20px auto;
  width: 30%;

  &__input {
    text-align: center;
    background-color: $primary;
    color: $basic;
    margin: 2%;
    border: none;
    height: 50px;
  }
  &__button {
    background-color: $secondary;
    margin: 8px;
    border: 0px;
    // height: 50px;
    margin: 5%;
  }
  &__button:hover {
    border: 2 solid yellow;
    box-shadow: 0 0 10px 8px #67c16e;
  }
}
.prev-next {
  display: flex;
  justify-content: center;
  // flex-wrap: wrap;
  flex-direction: row;
  // padding: 20px;
  // margin: 30px auto;
  width: 100%;
  height: 100px;

  &__button {
    background-color: $secondary;
    margin: 0 30px;
    //  padding-bottom: 30px;
    border: none;
  }
  &__button:hover {
    border: 10 solid yellow;
    box-shadow: 0 0 10px 8px #67c16e;
  }
}

.index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  width: 80%;
  justify-content: space-around;
  padding: 30px 0px;
  margin: auto;
}

.character-item {
  display: flex;
  list-style: none;
  padding: 30px;
  justify-content: space-around;

  &__img {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 10px;
  }
  &__random {
    width: 50%;
    margin-bottom: 10px;
  }
  &__img:hover {
    box-shadow: 0 0 10px 8px #67c16e;
  }
  &__text {
    background-color: rgba($color: #e4e4e4, $alpha: 0.7);
    width: 100%;
    height: 40px;
    line-height: 40px;
    border-radius: 10%;
  }
  &__text:hover {
    box-shadow: 0 0 10px 8px #67c16e;
  }
}
.character-item-random {
  background-color: rgba($color: #67c16e, $alpha: 0.7);
  padding: 2%;
  display: flex;
  justify-content: space-around;
  &__text {
    text-align: center;
    width: 100%;
    height: auto;
    margin: 10px;
    font-size: $font-big;
  }
}

.character-div {
  background-color: rgba($color: #e4e4e4, $alpha: 0.7);
}

.is-hidden {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0px;
  height: 70px;
  width: 100%;
  background-color: #171310;
  // margin-top: 200px;

  &__text {
    font-family: $font-stack;
    font-size: $font-normal;
    color: $primary;
    line-height: 70px;
  }
}
